SUPABASE_URL=
SUPABASE_KEY=

# Tabla de telemetria
SUPABASE_TABLE=telemetria_iot

# Tabla de usuarios
SUPABASE_USERS_TABLE=users

# Parametros de hash de password (PBKDF2)
PASSWORD_HASH_ITERATIONS=100000

# MQTT 
MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883
MQTT_USERNAME=iot_device
MQTT_PASSWORD=SecurePass123!
MQTT_CLIENT_ID=python_temperatura_humedad_subscriber
DEVICE_ID=ESP32-TempHum
MQTT_TOPIC_READING=sensor/ambient/reading
MQTT_TOPIC_STATUS=sensor/esp32/status
MQTT_TOPIC_ERROR=sensor/esp32/error